{% extends "portfolio/base.html" %}
{% block content %}
	


	<header>

		<nav>
			<ul class="navbar-ul">
				<li class="navbar-li">Home</li>
				<li class="navbar-li">Projects</li>
				<li class="navbar-li">Contact</li>
			</ul>
		</nav>

	<h1>Home</h1>


	</header>

	<div class="container">

		<h2><strong>feces</strong> are cool.</h2>

		<p>Here's why:</p>
		<ul>
			<li>They are cool</li>
			<li>They are nice</li>
		</ul>

		<button>Ugly button you should never use</button>	
	</div>

	<section class="flex-container">
		
		<div class="triple-section">a</div>
		<div class="triple-section">b</div>
		<div class="triple-section">c</div>

	</section>
	<section>Bottom</section>
	<footer>FOOTER</footer>



{% endblock content %}