body {
	background: rgb(56,56,56);
	color: white;
	font-family: Arial, Helvetica, sans-serif

	margin: 0;
	padding: 0;
}

h1 {
	color: rgb(0,183,255);
}

button {
	background: gray;
	border: none;
	color: white;
	border-radius: 2px;
}

header {
	background: black;
	padding: 20px;
}

footer {
	background: rgb(42,42,42);
}


.flex-box {
	display: flex;
	flex-direction: row;
	padding: 20px;
}


.flex-box div {
	background: rgb(52,52,52);
	width: 100px;
	margin: auto;
}

.nav-bar {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.nav-bar li {
	display: inline-block;
	margin-right: 20px 
}

.nav-bar li:hover {
	color: blue;
}

.title-bar {
	margin: 0;
	margin-top: 20px;
	padding: 0;
	list-style-type: none;
}

.title-bar li {
	display: inline-block;
	margin-right: 20px;
}

#site-logo {
	background-image: url('pinosaur.png');
	background-size: 100%;
	background-repeat: no-repeat;
	width: 64px;
	height: 64px;
	text-indent: -99999999%;
	border-radius: 50%;
	position: relative;
	top: -25px; /* fix this later, its a vary bad solution */
}
